* {
    font-family: Quicksand;
    font-size: 16px;
    color: #2c2828;
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right, #9cd9c6, #8b9597);
}

.form {
    background-color: #fff;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #118f22;
    box-shadow: 0 0 50px 0 #ddd;
}

.form:hover {
    box-shadow: 0 0 60px 0 #f0f0f0;
    transition: 0.3s;
    transform: scale(1.02);
}

.row-1 {
    padding: 20px;
}
.row-2 {
    padding: 20px;
}

.input-text{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #d4e0dc;
    padding: 5px 10px;
}

.input-text:last-child {
    margin-bottom: 35px;
}
.input-text:hover {
    background-color:rgb(188, 210, 205);
}

#submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: #73c5aa;
    color: #fff;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}
#submit:hover {
    background-color: #97d0bc;
}

.text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
}
.row-one {
    padding: 30px 20px 15px 20px;
}
.row-two {
    padding: 15px 20px 30px 20px;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d4e0dc;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: rgb(188, 210, 205);
}
.container input:checked ~ .checkmark {
    background-color: #73c5aa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #289df6;
    padding-top: 15px;
    display: block;
}
h2 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}